<section class="wrapper">
  <div>
    <!-- <button (click)="crearSchool($event, schools)">Registrar su escuela</button> -->
    <button [routerLink]="['/home']">Regresar</button>
  </div>

<div class="Tutoriales Content-section u-hide">
        <section class="Video">
          <h3>Tutoriales de TaeKownDo</h3>
          <div class="contenedor">
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/-fJfuu2cr5M?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Koryo</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/laVq_OHBdU8?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Kumgang</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/TC9_lUuTkaY?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Taebaek</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/5gzWWywlzcA?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Pyongwon</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/j2GrvEuNljI?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Sipjin</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/8kJQJrGx0bI?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Jitae</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/tA-dFag6Hu8?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Cheonkwon</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/fTgispXcp3k?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Hansoo</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/xgZcEw6mFD8?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Tutorial Ilyeo</h4>
            </article>
          </div>
        </section>
        <section class="Video">
          <h3>Entrenamientos para Poomsae</h3>
          <div class="contenedor">
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/xCfSzX6yo5c?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Entrenamiento Poomsae</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/CYrUfdLjjVU?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Entrenamiento Poomsae</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/N_tgA5nRIXo?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Entrenamiento Poomsae</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/5dRsyjkVDwQ?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Cómo enseñar yop chagui</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/lBL2iPejpM4?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>20 Ejercicios básicos de Taekwondo para niños y jóvenes</h4>
            </article>
          </div>
        </section>
        <section class="Video">
          <h3>Taekwondo a nivel mundial</h3>
          <div class="contenedor">
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/dRjPN4n1Op0?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>50 Brutal Taekwondo Knockouts 2017</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/VzD_I_vsM34?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>2017 World Taekwondo Championships MUJU_Final match Women -53kg</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/WGnqGoMIbtw?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Dae-Hoon Lee KOR vs. Yu-Jen Huang TPE. Taekwondo World Championship 2017</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/-r6hwO16xNI?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>LEE DAE-HOON KOR VS ABEL MENDOZA MEX, FINAL MALE -63kg 2013</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/w9zM-DRt-_A?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Old School Taekwondo II RIO 2016 Highlights</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/6_Dnyy-9db4?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Dae Hoon Lee taekwondo Highlights II RIO Moments</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/IouDegTi2OY?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Servet Tazegul TaeKwonDo Highlights 2016 II OLD school</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/7fQ3xyH225s?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Taekwondo Highlights - Carlos Navarro</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/zKVUS7HLCZ0?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Jade Jones Taekwondo Highlights II </h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/Lc27vSxjo10?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>The most emotional olympic taekwondo moment. 2008</h4>
            </article>
          </div>
        </section>
        <section class="Video">
          <h3>Taekwondo en México</h3>
          <div class="contenedor">
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/KEZ4bKRmXhQ?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Taekwondo training in Mexico</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/s3EbZytPlxo?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>Anatomy of a Taekwondo athlete with Team Korea</h4>
            </article>
            <article>
              <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/HkFNzZ2eZbw?fs=0" frameborder="0" allowfullscreen></iframe>
              <h4>María Espinoza's Unique Celebration Beijing 2008</h4>
            </article>
          </div>
        </section>
      </div>
    </section>
