<footer>

  <div class="footer ">
    <ul class="socialf clearfix">
      <li><a href="{{ _is.info.facebook }}" class="fbf" data-title="Facebook"></a></li>
      <li><a href="{{ _is.info.google }}" class="googlef" data-title="Google +"></a></li>
      <li><a href="{{ _is.info.instagram }}" class="behancef" data-title="Behance"></a></li>
      <li><a href="{{ _is.info.twitter }}" class="twitterf" data-title="Twitter"></a></li>
      <!--<li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
      <!-- <li><a href="#" class="rss" data-title="RSS"></a></li> -->
    </ul><!-- end social -->

    <div class="rights">
      <p>Copyright © {{anio}} {{ _is.info.titulo }} Poweres by <a href="{{ _is.info.web }}" target="_blank">{{ _is.info.name }}</a></p>
    </div><!-- end rights -->
  </div ><!-- end footer -->

</footer>
