<section class="top">
  <div class="wrapper content_header clearfix">
    <div class="work_nav">

      <ul class="btn clearfix">
        <li><a href="#" class="previous" data-title="Previo"></a></li>
        <li><a href="" class="grid" data-title="Menu"></a></li>
        <li><a href="#" class="next" data-title="Siguiente"></a></li>
      </ul>

    </div><!-- end work_nav -->
    <h1 class="title">Aplicación informativa e interactiva, dirigida a la comunidad del Taekwondo</h1>
  </div>
</section>

<section>
  <div class="work">
    <a [routerLink]="['/escuelas']">
      <img src="../../assets/img/img-btn1.jpg" class="media" alt=""/>
      <div class="caption">
        <div class="work_title">
          <h1>Academias de TKD</h1>
          <p>Control de academias registradas</p>
        </div>
      </div>
    </a>
  </div>
  <div class="work">
    <a [routerLink]="['/tutoriales']">
      <img src="../../assets/img/img-btn2.jpg" class="media" alt=""/>
      <div class="caption">
        <div class="work_title">
          <h1>Tutoriales</h1>
          <p>Información y tutoriales del TKD</p>
        </div>
      </div>
    </a>
  </div>
  <div class="work">
    <a [routerLink]="['/torneos']">
      <img src="../../assets/img/img-btn3.jpg" class="media" alt=""/>
      <div class="caption">
        <div class="work_title">
          <h1>Torneos</h1>
          <p>Registro de torneos de TKD a nivel mundial</p>
        </div>
      </div>
    </a>
  </div>
  <div class="work">
    <a [routerLink]="['/blog']">
      <img src="../../assets/img/img-btn4.jpg" class="media" alt=""/>
      <div class="caption">
        <div class="work_title">
          <h1>Blog</h1>
          <p>Red Social relacionada con el TKD</p>
        </div>
      </div>
    </a>
  </div>
  <div class="work">
    <a [routerLink]="['/coach']">
      <img src="../../assets/img/img-btn6.jpg" class="media" alt=""/>
      <div class="caption">
        <div class="work_title">
          <h1>Coach</h1>
          <p>Dedicado a entrenadores y profesores</p>
        </div>
      </div>
    </a>
  </div>
  <div class="work">
    <a [routerLink]="['/kistore']">
      <img src="../../assets/img/img-btn5.jpg" class="media" alt=""/>
      <div class="caption">
        <div class="work_title">
          <h1>Ki Store</h1>
          <p>Tienda en línea de productos para el TKD</p>
        </div>
      </div>
    </a>
  </div>
</section>
